/* Basic Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #333;
    color: #fff;
}


.navbar {
    position: relative;
    z-index: 2; /* Ensure the navbar has a higher stacking context than the map */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Ensures the dropdown content appears above other elements */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}

.dropdown:hover .dropbtn {
    background-color: #555;
}
/* Main Content Layout */
.container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust height minus the header */
    width: 100%;
}
/* Tabs */
.tabs {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}
/* Optional for custom markers */
.marker-icon {
    width: 30px;
    height: 40px;
}


.tab {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.tab:hover {
    background-color: #0056b3;
}

.tab.active {
    background-color: #0056b3;
}

/* Forms */
.form {
    display: none;
}

.form.active {
    display: block;
}

/* Search Bar */
.search-bar {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.search-bar h2, .search-bar h3 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Hide non-active forms */
.form {
    display: none;
}

.form.active {
    display: block;
}


/* Marker */
/* My Location Sticker */
.mylocation-sticker {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 1000;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.mylocation-sticker button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.mylocation-sticker img {
    width: 40px;
    height: 40px;
}





/* Map Styling */
#map {
    height: 100vh; /* Full screen height */
    width: 100%; /* Full width */
    z-index: 1; /* Keep the map behind the navbar and dropdowns */
    position: relative;
}
